
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
   url("../public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }

*{
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  font-family:"Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  max-width: 1440px;
  margin: 0 auto;
}
  